@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

.leaflet-container {
    width: 100vw;
    height: calc(100vh - 250px);
}
@media screen and (max-width: 525px) {
    .leaflet-container {
        height: calc(100vh - 300px);
    }
} ;
